.myreflow {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}
.myreflow:hover {
  width: 110px;
  height: 110px;
}
.myrepaint {
  width: 100px;
  height: 100px;
  background-color: pink;
}
.myrepaint:hover {
  background-color: palegoldenrod;
}
